# Streambox iPhone5
# UDID1 = eba88a92c6a33123b42450da634b243244ae282b

# UDID1 =



# Absolute path to encoder app
# STREAMBOX_APP_ABSPATH = /Users/demo/Downloads/iPhone/3.0.0_beta0/meproiphone.app

# STREAMBOX_APP_ABSPATH =